################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/.vs/2DPeakFinder/v17/.suo
/.vs/2DPeakFinder/config
